/*Global----------Meniul hamburger*/

:root {
  box-sizing: border-box;

  --primary: #e70146;
  --hover-color: #fdd052;
  --dark: #1c2022;
  --light: #fff;

  --header-bg: var(--primary);
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins;
  font-size: 1rem;
}

header {
  background: #262626;
  padding-left: 1.5em;
  position: relative;
  z-index:9999;
  top: 0;
}
.branding-logo {
  color: var(--light);
  font-size: calc(0.8rem + 1vw);
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  list-style: none;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: var(--light);
  padding: 0.2em 1.9em;
  font-size: 1rem;
}

/* Styling submenu */
.has-dropdown {
  position: relative;
}
.submenu {
	
  position: absolute;
  left: -99;
  background-color: var(--dark);
  white-space:wrap;
  padding: 1.5em 0;
  min-width: 16em;

  /* hide submenus */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}
.submenu > li > a {
  padding: 0.8em 1.5em;
}
.submenu .submenu {
  left: -100%;
  top: 0;
}
.submenu .submenu .submenu {
  left: -100%;
  top: 0;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--hover-color);
}
.menu > li:hover > a {
  background-color: hsla(0, 0%, 0%, 0.95);
}

/* Arrows */

.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}

/* Reveal  */
.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
  opacity: 1;
  transform: scaleY(1);
}

/* ANIMATE aRROWS */
.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}

@media only screen and (max-width: 78.75em) {
  .submenu .submenu .submenu {
    left: -100%;
    top: 0.5em;
  }
  .submenu {
    min-width: 16em;
  }
}
@media only screen and (max-width: 58.75em) {
  .menu li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 50em) {
	 .principal h1{
	font-size:20px;
	margin-bottom:7px;
}
.principal p{
	box-sizing:border-box;
	font-size:10px;
	text-align:justify;
}
  header {
/*     position: relative; */
    padding: 1.5em 2em;
  }
  .menu {
	  z-index:99999;
    flex-flow: column;
    position: absolute;
    background: var(--light);
    top: 4.55em;
    left: 0;
    right: 0;
    height: 100vh;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
      100ms opacity ease-in-out;
    
    overflow-y: scroll;
    
  }
  .menu > li > a {
    font-size: 1rem;
    color: var(--dark);
	z-index:99999;
  }
  .submenu > li > a {
    font-size: 1rem;
  }

  .submenu {
	 
	  left:0;
    top: 0;
    padding-left: 1.5em;
    border-left: 0.12em dotted hsla(342, 99%, 45%, 0.95);
  }
  .submenu .submenu {
    left: 0;
    top: 0;
  }
  .submenu .submenu .submenu {
    left: 0;
    top: 0;
  }

  .menu > li:hover > a + .submenu,
  .submenu > li:hover > a + .submenu {
    position: relative;
  }

  .hamburger {
    width: 2em;
    height: 0.25em;
    display: block;
    background: var(--light);
    position: relative;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;

    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after {
    top: 0.65em;
  }
  .hamburger::before {
    bottom: 0.65em;
  }

  .close::after,
  .close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }
  .close::before {
    display: none;
  }
  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  /* reveal menu */
  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
  }
}



.banner-area {
	z-index:-1;
	width: 100%;
	height: 500px;
	position: fixed;
	top: 44px;
	background-image: url(ban.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h1 {
	padding-top: 13%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
	text-align:center;
}
.content-area h1{
	text-align:center;
	padding:20px;
	letter-spacing:2px;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 1500px;
}
/*Galerie foto*/

.content-area  div.gallery {
text-align:center;
  margin: 49px;
  border: 1px solid #ccc;
  float:right;
  width: 270px;
}

.content-area div.gallery:hover {
  border: 1px solid #777;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.content-area div.gallery img { 

transition: transform .2s;
  width: 150px;
  height: 150px;
}

.content-area div.desc {
  padding: 10px;
  text-align: center;
}


/*Meniul de jos*/
.content-area .fot{
	display:flex;
	margin-left:1%;
	bottom:0;
	
	
}
.content-area .fot a{
	padding:13px;
	color:black;
	font-size: 20px;
	
	
}
.content-area .fot a:hover{
	color:pink;
	
}



.content-area p {
	padding: 17% 10px;
	font-family: poppins;
	line-height: 30px;
	text-align:justify;
	letter-spacing:2px;
	font-size:16px;
     padding: 30px;  
	
}

@media only screen and (max-width:768px){
	.gallery{
		padding:40px;
		width:50%;
	margin:6px 0;}

.content-area {

	position: relative;
	top: 423px;
	background: #ebebeb;
	height: 6700px;
}

.content-area .fot{
	visibility:hidden;
	
}
}

/*tableta*/
@media (min-width: 768px) and (max-width: 1024px){
 .content-area .fot{

	visibility: hidden;
}
.content-area {

	position: relative;
	top: 423px;
	background: #ebebeb;
	height: 3000px;
}
.gallery{
	padding:1px;
		width:100%;
	margin:0;}
.content-area  div.gallery {
  text-align:center;
  margin: 60px;
  border: 1px solid #ccc;
  float:right;
  width: 250px;
}

.content-area div.gallery:hover {
  border: 1px solid #777;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}


}

